<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <title>Contact Us</title>
  </head>
  <body>
    <section class="container block">
      <div class="contact-us__title">
        <h2>ارتباط با ما</h2>
        <h3>شما می توانید نظرات و انتقادات خود را برای ما بفرستید</h3>
      </div>
      <div class="contact-us">
        <div class="contact-us__social">
          <span class="icon-container">
            <svg class="icon">
              <use xlink:href="/assets/icons/svg-spirit.svg#linkedin"></use>
            </svg>
          </span>
          <span class="icon-container">
            <svg class="icon">
              <use xlink:href="/assets/icons/svg-spirit.svg#facebook"></use>
            </svg>
          </span>
          <span class="icon-container">
            <svg class="icon">
              <use xlink:href="/assets/icons/svg-spirit.svg#twitter"></use>
            </svg>
          </span>
        </div>
        <div class="contact-us__icons">
          <div class="icon-holder">
            <span class="icon-holder__label">info@jshs.ir</span>
            <span class="icon-container">
              <svg class="icon">
                <use xlink:href="/assets/icons/svg-spirit.svg#mail"></use>
              </svg>
            </span>
          </div>
          <div class="icon-holder">
            <span class="icon-holder__label">09123744581</span>
            <span class="icon-container">
              <svg class="icon">
                <use xlink:href="/assets/icons/svg-spirit.svg#phone"></use>
              </svg>
            </span>
          </div>
          <div class="icon-holder">
            <span class="icon-holder__label"
              >ایران، تهران، میدان ولیعصر، کوچه سوم، تپسی</span
            >
            <span class="icon-container">
              <svg class="icon">
                <use xlink:href="/assets/icons/svg-spirit.svg#location"></use>
              </svg>
            </span>
          </div>
        </div>
        <div class="contact-us__map">
          <img src="/assets/images/map.png" alt="نقشه" />
        </div>
        <div class="contact-us__form">
          <div class="form-wrapper">
            <h3>نظرات شما</h3>
            <form>
              <input type="text" placeholder="نام و نام خانوادگی" />
              <input
                type="email"
                placeholder="ایمیل خود را وارد کنید"
                dir="ltr"
              />
              <textarea cols="30" rows="10"></textarea>
              <button type="submit" class="btn btn--primary">ثبت نظرات</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
